[Unit]
Description=ProAI Slave Service (UART Proxy)
After=network.target

[Service]
Type=simple
ExecStart=/home/xm/aiPro/slave_service/slave_service -f
WorkingDirectory=/home/xm/aiPro/slave_service
Restart=always
RestartSec=5
User=xm

[Install]
WantedBy=multi-user.target
